@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Shadows Into Light');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}


h1 {
    margin: 0%;
    padding: 0%;
    /* text-align: center; */
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.jsdelivr.net/gh/iamrony777/JavInfo-api@main/api/html/images/s_background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: blur(5px);
}

.foreground-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 40px 0;
    text-align: center;
    font-family: 'Shadows Into Light';
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}