# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
docs/_build/
build/
dist/


# IDEs
.idea/

# Testing and temporary files
.tox/

# Custom
.venv
.env
.vscode
var*
*.log

# Poetry
pyproject.toml
poetry.lock

# Dev
test*
old_*
*.sql

# changelog
CHANGELOG.md