# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/
*.env

# Build directories
docs/_build/
build/
dist/


# IDEs
.idea/

# Testing and temporary files
.tox/

# Custom
.venv
.vscode
var*
*.log

# Dev
test*
old_*
site
*.sql

# changelog
CHANGELOG.md

thunder-tests
