# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
docs/_build/
build/
dist/


# IDEs
.idea/

# Testing and temporary files
.tox/
uploads

#Virtual Env
.venv
#Testing
test*
#edit
src/helper/crop.py

#ENV
.env
.vscode
.gitignore
vars
var.sh
start.sh
