# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
docs/_build/
build/
dist/


# IDEs
.idea/

# Testing and temporary files
.tox/

# Custom
.venv
.env
.vscode
var*
*.log

# Dev
test*
old_*
site
*.sql

#build
poetry.lock

# changelog
CHANGELOG.md

thunder-tests

# Custom
api
docker-compose-convert.yml
docs/assets/images/*.pngapi
