deep-translator
fastapi
lxml
Pillow
redis
uvicorn[standard]
aiofiles
apscheduler
httpx[http2]
loguru
mkdocs-material
# Fastapi-limiter==0.1.5 (pypi release is still on v0.1.4), Using Commit #1b82659 https://github.com/long2ice/fastapi-limiter/commit/1b8265946caa5001cfffe4a636c358029e2c316d
fastapi-limiter @ https://github.com/long2ice/fastapi-limiter/archive/1b8265946caa5001cfffe4a636c358029e2c316d.zip
