{
	admin off
	auto_https off
}

:{$PORT} {
	encode gzip

	redir /api /api/ permanent
	handle /api/* {
		reverse_proxy 127.0.0.1:8000
	}

	redir /terminal /terminal/* permanent
	handle_path /terminal/* {
		reverse_proxy 127.0.0.1:9080
	}
}
