name: build-layer 

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches:
      - "build"
jobs:
  qemu:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          ref: build
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2.0.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.build
          cache-from: type=registry,ref=iamrony777/javinfo-api:${{ github.ref_name }}-cache
          cache-to: type=registry,ref=iamrony777/javinfo-api:${{ github.ref_name }}-cache,mode=max
          platforms: linux/amd64, linux/arm64
          push: true
          tags: iamrony777/javinfo-api:build-layer